/* make main container a flex box */
.foodList{
    display: flex;
       flex-direction: row;
}

/* make div of foods a flex box and style */
.foodBox{
    display: flex;
    flex-direction: column;
    width: 15vw;
    border: .25em solid blue;
   margin: 2em;
}

/* change font on food title */
#food-name{
    font-size: 1.5em;
}

